.login-container {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
}

button {
  border-radius: 0;
}
